extends layout

block content
    div(class='loading-holder', data-bind='loadingVisible: loading.isActive', style='display: none;')
        div(class='loading-indicator')
    div(class='container')
        div(class='header')
            span(data-bind='click: returnHomeClick') #{title}
            img(src='images/logo.png', data-bind='click: returnHomeClick')
            div(class='user-info', data-bind='visible: page() != Global.Pages.Login')
                div(data-bind='visible: isAuthorised')
                    span Привет,
                    span(class='user-name', data-bind='text: user().name')
                    span !
                    <br/>
                    span(class='control-exit',data-bind='click: onLogoutClick') Выйти
                div(class='auth-none row', data-bind='visible: !isAuthorised()')
                    div(class='login-input')
                        span Имя
                        input(data-bind='value: loginBox')
                        <br/>
                        span Пароль
                        input(type='password', data-bind='value: pswdBox')
                    div(class='login-holder')
                        button(class='btn btn-primary', data-bind='click: onLoginClick') Войти
                    div(class='login-holder')
                        button(class='btn btn-info') ?
        div(class='control')
            ul(class='nav nav-pills')
                li(class='dropdown', data-bind='css:{active: page() == Global.Pages.Main}, visible: isAuthorised')
                    a(class='dropdown-toggle', data-toggle='dropdown', href='#') Главная
                        span(class='caret')
                    ul(class='dropdown-menu', role='menu', id='dropdown')
                        li
                            a(href='#get-own', data-bind=' click: onShowOwnMovies')
                                span(class='glyphicon glyphicon-ok', data-bind='visible: isOwnMovies')
                                span(class='text') Мои фильмы
                        li
                            a(href='#get-all', data-bind='click: onShowAllMovies')
                                span(class='glyphicon glyphicon-ok', data-bind='visible: !isOwnMovies()')
                                span(class='text') Все фильмы
                        li
                            a(href='#get-all', data-bind='click: onToggleWatchedMovies')
                                span(class='glyphicon glyphicon-ok', data-bind='visible: showWatchedMovies')
                                span(class='text') Показывать просмотренные фильмы
                li(data-bind='css:{active: page() == Global.Pages.Main}, visible: !isAuthorised()')
                    a(href='#') Главная
                li(data-bind='css:{active: page() == Global.Pages.AddMovie}, visible: isAuthorised')
                    a(href='#add', data-bind='click: addNewMovieClick') Добавить кино

        div(class='first page row', data-bind='visible: page() == Global.Pages.Main')
            cdiv(class='main', data-bind="foreach: movies")
                div(class='movie', data-bind='style: {background: "url("+image+")"}, click: $parent.onMovieClick, visible:$parent.showWatchedMovies() || !watched')
                    p(class='name', data-bind='text: name')
                    p(class='owner')
                        img(src='images/user.png')
                        span(data-bind='text: owner')

        div(class='movie-add page row', data-bind='visible: page()== Global.Pages.AddMovie')
            div(class='title') Добавить новый фильм в коллекцию
            div(class='holder row')
                div(class='plus col-md-2') +
                div(class='input-holder col-md-7')
                    input(class="movie-name form-control", type="text",
                        data-bind="value: addMovie.url, attr:{disabled: addMovie.isWaiting}")
                div(class='button-holder col-md-3')
                    button(class='btn btn-primary',
                        data-bind="click: addMovie.btnClick, attr:{disabled: addMovie.isWaiting}") Добавить
            div(class='error row', data-bind='visible: addMovie.errorVisible')
                div(data-bind='text: addMovie.errorCaption')
                div(class='button-close', data-bind='click: addMovie.closeError') x
            div(class='waiting row', data-bind='visible: addMovie.isWaiting')
                img(src='images/waiting.gif')
                span Пожалуйста, подождите пока ваш фильм добавляется!
            div(class='info row')
                span Для добавления фильма необходимо ввести url (ссылку на него) в поле выше. На данные момент поддерживаются ссылки
                span(data-bind='visible: parsers.length == 1')  c сайта
                span(data-bind='visible: parsers.length > 1')  c сайтов:
                div(class='parsers', data-bind='foreach: parsers')
                    a(class='parser', target='_blank' data-bind='attr: {href: "http://"+site}')
                        img(data-bind='attr:{src: "/images/" + site + "-big.png"}')

        div(class='details page row', data-bind='visible: page() == Global.Pages.Details')
            div(class='details-background', data-bind='style: {background: "url(" + movieDetails().image + ")"}')
            div(class='col-left col-md-4')
                img(class='details-image row', data-bind='attr:{src: movieDetails().image}')
                div(class='btn-group', data-bind='visible: isAuthorised')
                    button(type='button', class='btn btn-default btn-first dropdown-toggle', data-bind='click: onExuaWatch')
                        img(class='exua', src='images/ex.png')
                        span Cмотреть на EX.UA
                    button(type='button', class='btn btn-default dropdown-toggle', data-toggle='dropdown')
                        span(class='caret')
                    ul(class='dropdown-menu', role='menu')
                        li
                            a(href='#', data-bind='click: onVkWatch')
                                img(class='icon', src='images/vk.png')
                                span Смотреть ВКонтакте
                        li
                            a(href='#', data-bind='click: onMegogoWatch')
                                img(class='icon', src='images/megogo.jpg')
                                span Смотреть на Megogo.net
                        li
                            a(href='#', data-bind='click: onKinopoiskSearch')
                                img(class='icon', src='images/kinopoisk.png')
                                span Искать на Кинопоиске
                        li
                            a(href='#', data-bind='click: onRutrackerSearch')
                                img(class='icon', src='images/rutracker.png')
                                span Искать на RuTracker
                        li(class='divider')
                        li(data-bind='visible: user && movieDetails && user.id == movieDetails.owner')
                            a(href='#', data-bind='click: onDeleteMovie')
                                span(class='glyphicon glyphicon-remove')
                                span Удалить фильм


            div(class='col-md-8')
                div(class='details-info')
                    div(class='title')
                        div(class='title-text', data-bind='text: movieDetails().name')
                        div(class='title-effect', data-bind='text: movieDetails().name')
                div(class='details-info low' data-bind='visible: movieDetails().desc')
                    div(class='desc', data-bind='text: movieDetails().desc')
                div(class='details-info low')
                    div(class='desc', data-bind='visible: movieDetails().genres && movieDetails().genres.length > 0')
                        span(data-bind='visible: movieDetails().genres && movieDetails().genres.length == 1') Жанр:
                        span(data-bind='visible: movieDetails().genres && movieDetails().genres.length > 1') Жанры:
                        span(class='genres', data-bind='text: formatGenres()')
                div(class='details-info low')
                    div(class='desc', data-bind='visible: movieDetails().ratings && movieDetails().ratings.length > 0')
                        span Рейтинг:
                        cdiv(data-bind='foreach: movieDetails().ratings')
                            div(class='rating')
                                img(class='rating-provider', data-bind='attr:{src: "images/p_" + provider + ".png"}')
                                span(class='rating-value', data-bind='text: rating')

                div(class='details-info low')
                    div(class='desc')
                        span Этот фильм добавил пользователь:
                        img(src='images/user.png')
                        b
                            span(data-bind='text: movieDetails().owner')

            div(class='row col-md-12')
                div(class='register-box alert alert-info', data-bind='visible: !isAuthorised()')
                    span(class='caption-register') Зарегистрируйтесь
                    span или
                    span(class='caption-login', data-bind='click: showLoginPage') войдите
                    span , чтобы получить доступ ко всем возможностям сайта!

        div(class='login page row', data-bind='visible: page() == Global.Pages.Login')
            div(class='col-md-6 col-md-offset-3 title')
                div(class='caption')
                    img(src='images/logo.png')
                    span Войти в
                    span(class='sitename') Киноклуб
                div
                    div Имя
                    input(data-bind='value: loginBox')
                    div Пароль
                    input(type='password', data-bind='value: pswdBox')
                    div(class='alert alert-danger',
                        data-bind='visible: error() && error().type=="login", text: error().msg')
                    div(class='row buttons')
                        button(class='btn btn-primary', data-bind='click: onLoginClick') Войти
                        button(class='btn btn-default') Регистрация
                        button(class='btn btn-default', data-bind='click: onLoginCancel') Отмена


    script(src='/javascripts/viewmodel.js')
    script.
        var model = !{model};
        $(document).ready(function(){
            ko.applyBindings(new Viewmodel(model));
        });